<!DOCTYPE html>
<html>

<head>
  <title>Medicine</title>
</head>

<body>
  <h3>Welcome to my pharmacy</h3>
  <ul>
    {{#each drugs}}
    {{!-- This handlebars templating language goes through the injected data called drugs, and for every drug, displays the name and price --}}
    <li>{{name}} will cost you ${{price}}</li>
    {{/each}}
  </ul>
  <a href="/add">Stock new item (/add)</a> <br />
  <a href="/delete">Purchase item (/delete)</a> <br />
  <a href="/get">Know the id of your item? Find it here (/get)</a> <br />
  <a href="/update">Know of a better price elsewhere? We'll match it (/update)</a>
</body>

</html>
